body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    flex: 1;
}

.side-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* Adjust based on your preference */
    height: 100px;
    /* Adjust based on your preference */
    margin: 0 20px;
    background-color: #ddd;
    /* Placeholder for images */
}

.left-image {
    background-image: url('path/to/your/left-image.jpg');
    background-size: cover;
    background-position: center;
}

.right-image {
    background-image: url('path/to/your/right-image.jpg');
    background-size: cover;
    background-position: center;
}

canvas {
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .side-image {
        margin: 10px 0;
    }

    canvas {
        width: 90vw;
        height: auto;
    }
}

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    pointer-events: none;
    overflow: hidden;
    line-height: 1;
    font-size: 10px;
    /* Adjust as necessary to match the PDF's text size */
}

/* Make sure canvas has position relative to position the textLayer absolutely within it */
#the-canvas {
    position: relative;
    border: 1px solid black;
    direction: ltr;
}